
.container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    overflow-x: hidden;
}
.navbar{
    background-color: #006097;  
    width: 100vw;
    height: 8vh;
    display:flex;
}

.icon-container{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    
    }

.profile-icon-container,
    .setting-icon-container{
        height: 80%;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-top: 0.5vh;
    }
        
.profile-icon-container > img,
    .setting-icon-container > img {
        
        height:80%;
        width: auto;
    }

.search_container{
    display: flex;
    justify-content: center;
    width: 33%;
    }

    
.search_container input{
    width: 100%;
    height: 45%;
    align-self: center;
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    }
        

.canva-container{
    background-color:  #F5F5F5;
    width: 100vw;
    height: 100%;
    display: flex;
    }


.post-container{
    width: 97vw;
    height: 100vh;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    }